<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <context-param> 
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring/application-context.xml</param-value>
  </context-param>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <!-- This listener starts up the H2 database -->
<!--   <listener> -->
<!--     <listener-class>org.h2.server.web.DbStarter</listener-class> -->
<!--   </listener> -->
  
<!--   <listener> -->
<!--     <listener-class>jhu.web.java.servlets.TestServletContextListener</listener-class> -->
<!--   </listener>	 -->
</web-app>
